In [1]:
# 추천 시스템은 크게 콘텐츠 기반 필터링 방식과 협업 필터링 방식으로 나뉜다.
# 협업 필터링 방식은 다시 최근접 이웃 협업 필터링과 잠재 요인 협업 필터링으로 나뉜다. 두 방식 모두 사용자-아이템 평점 행렬 데이터에 의지
# 행은 개별 사용자, 열은 개별 아이템 

# 콘텐츠 기반 필터링 방식은 '사용자가 특정한 아이템'을 매우 선호하는 경우, 그 아이템과 비슷한 콘텐츠를 가진 다른 아이템을 추천하는 방식이다.
# 협업 필터링은 사용자가 아이템에 매긴 평점 정보나 상품 구매 이력과 같은 '사용자 행동 양식'만을 기반으로 추천을 수행하는 것이다.

# 최근접 이웃 협업 필터링은 메모리 협업 필터링이라고도 하며, 일반적으로 사용자 기반과 아이템 기반으로 다시 나뉠 수 있다.
# 사용자 기반 : 당신과 비슷한 고객들이 다음 상품도 구매했습니다.
# 아이템 기반 : 이 상품을 선택한 다른 고객들은 다음 상품도 구매했습니다.
# 사용자 기반 최근접 이웃 방식은 특정 사용자와 유사한 다른 사용자를 TOP-N으로 선정해 이 TOP-N 사용자가 좋아하는 아이템을 추천하는 방식
# 즉, 특정 사용자와 타 사용자 간의 유사도를 측정한 뒤 가장 유사도가 높은 TOP-N 사용자를 추출해 그들이 선호하는 아이템을 추천.
# 일반적으로 사용자 기반보다는 '아이템 기반 협업 필터링'이 정확도가 더 높다. 이유는 비슷한 영화를 좋아한다고 해서 사람들의 취향이 비슷하다고
# 판단할 수 없기 때문이다.
# 코사인 유사도는 추천 시스템의 유사도 측정에 가장 많이 적용된다. 피처 벡터화된 텍스트 데이터와 동일하게 다차원 희소 행렬이라는 특징이 있다

# 잠재 요인 협업 필터링
# 사용자 - 아이템 평점 매트릭스 속에 숨어 있는 잠재 요인을 추출해 추천 예측을 할 수 있게 하는 기법이다.
# 대규모 다차원 행렬을 SVD와 같은 차원 감소 기법으로 분해하는 과정에서 잠재 요인을 추출하는데, 이러한 기법을 '행렬 분해'라고 한다.
# 잠재 요인을 기반으로 
# 다차원 희소 행렬인 사용자-아이템 행렬 데이터를 저차원 밀집 행렬의 사용자-잠재요인 행렬과 아이템-잠재 요인 행렬의 전치 행렬로 분해
# 이렇게 분해된 두 행렬의 내적을 통해 새로운 예측 사용자-아이템 평점 행렬 데이터를 만들어서 사용자가 아직 평점을 부여하지 않는 아이템에 
# 대한 예측 평점을 생성하는 것이 잠재 요인 협력 필터링 알고리즘의 골자이다.
# 사용자-아이템 행렬 = 사용자-잠재요인 행렬 * 잠재요인-아이템 행렬

# 행렬 분해
# 다차원의 매트릭스를 저차원 매트릭스의 분해하는 기법으로서 대표적으로 SVD, NMF 등이 있다.
# R (M(사용자) x N(아이템)) = P(M(사용자) x K(잠재요인)) * Q.T(K(잠재요인) x N(아이템))        

# 확률적 경사 하강법을 이용한 행렬 분해
# P와 Q 행렬로 계산된 예측 R 행렬 값이 실제 R 행렬 값과 가장 최소의 오류를 가질 수 있도록 반복적인 비용 함수 최적화를 통해 P와Q를 유추
# 절차
# 1. P와 Q를 임의의 값을 가진 행렬로 설정
# 2. p와 Q.T값을 곱해 예측 R 행렬을 계산하고 예측 R 행렬과 실제 R 행렬에 해당하는 오류 값을 계산한다.
# 3. 이 오류 값을 최소화할 수 있도록 P와Q행렬을 적절한 값으로 각각 업데이트
# 4. 만족할 만한 오류 값을 가질 때까지 2,3번 작업을 반복하면서 P와Q 값을 업데이트해 근사화한다.

In [2]:
import numpy as np

# 원본 행렬 R 생성, 분해 행렬P와 Q 초기화, 잠재 요인 차원 K는 3으로 설정.
R = np.array([[4,np.NaN, np.NaN, 2 , np.NaN],
             [np.NaN, 5, np.NaN, 3, 1],
             [np.NaN, np.NaN, 3, 4, 4],
             [5, 2, 1, 2, np.NaN]])
num_users, num_items = R.shape
K=3

# P와 Q 행렬의 크기를 지정하고 정규 분포를 가진 임의의 값으로 입력합니다.
np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size =(num_items, K))

In [3]:
# 행렬 오차
from sklearn.metrics import mean_squared_error

def get_rmse(R,P,Q,non_zeros):
    error = 0
    # 두 개의 분해된 행렬P와 Q.T의 내적으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)
    
    # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

In [4]:
# SGD 기반으로 행렬 분해
# R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장.
non_zeros = [ (i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]

steps = 1000
learning_rate = 0.01
r_lambda = 0.01

# SGD 기법으로 P와 Q 매트릭스를 계속 업데이트. get_rmse()함수를 통해 50회 반복할 때마다 오류 값 출력
for step in range(steps):
    for i, j, r in non_zeros:
        # 실제 값과 예측 값의 차이인 오류 값ㅇ구함
        eij = r - np.dot(P[i, :], Q[j,:].T)
        # Regularization을 반영한 SGD 업데이트 공식 적용
        P[i, :] = P[i, :] + learning_rate*(eij*Q[j,:] - r_lambda*P[i,:]) 
        Q[j,:] = Q[j,:] + learning_rate*(eij*P[i,:] - r_lambda*Q[j,:])
        rmse = get_rmse(R,P,Q, non_zeros)
        if (step % 50) == 0 :
            print('### iteration step : ',step, 'rmse : ', rmse)

### iteration step :  0 rmse :  3.261355059488935
### iteration step :  0 rmse :  3.26040057174686
### iteration step :  0 rmse :  3.253984404542389
### iteration step :  0 rmse :  3.2521583839863624
### iteration step :  0 rmse :  3.252335303789125
### iteration step :  0 rmse :  3.251072196430487
### iteration step :  0 rmse :  3.2492449982564864
### iteration step :  0 rmse :  3.247416477570409
### iteration step :  0 rmse :  3.241926055455223
### iteration step :  0 rmse :  3.2400454107613084
### iteration step :  0 rmse :  3.240166740749792
### iteration step :  0 rmse :  3.2388050277987723
### iteration step :  50 rmse :  0.5003190892212748
### iteration step :  50 rmse :  0.5001616291326989
### iteration step :  50 rmse :  0.49899601202578087
### iteration step :  50 rmse :  0.49884834501458286
### iteration step :  50 rmse :  0.49895189256631745
### iteration step :  50 rmse :  0.4983323683009099
### iteration step :  50 rmse :  0.4984148489378701
### iteration step :  50 rmse :  0.49792599580240865
### iteration step :  50 rmse :  0.49006055686927835
### iteration step :  50 rmse :  0.4890370238665435
### iteration step :  50 rmse :  0.48869176023997835
### iteration step :  50 rmse :  0.48767231013696477
### iteration step :  100 rmse :  0.15911521988578564
### iteration step :  100 rmse :  0.15880916178010934
### iteration step :  100 rmse :  0.15874092217089014
### iteration step :  100 rmse :  0.1582856952842509
### iteration step :  100 rmse :  0.15830809482168773
### iteration step :  100 rmse :  0.15828832993767417
### iteration step :  100 rmse :  0.15787486893092847
### iteration step :  100 rmse :  0.1579207360656708
### iteration step :  100 rmse :  0.1572524521545707
### iteration step :  100 rmse :  0.15710664164665214
### iteration step :  100 rmse :  0.15690252144190006
### iteration step :  100 rmse :  0.1564340384819248
### iteration step :  150 rmse :  0.07546004875264432
### iteration step :  150 rmse :  0.0754458913344709
### iteration step :  150 rmse :  0.07543234329653012
### iteration step :  150 rmse :  0.0751480067223391
### iteration step :  150 rmse :  0.07518867696418172
### iteration step :  150 rmse :  0.07522889509938398
### iteration step :  150 rmse :  0.07489318864469262
### iteration step :  150 rmse :  0.07493400425933253
### iteration step :  150 rmse :  0.07462695506527861
### iteration step :  150 rmse :  0.07464332131959658
### iteration step :  150 rmse :  0.07464441641563406
### iteration step :  150 rmse :  0.07455141311978032
### iteration step :  200 rmse :  0.043610165794390796
### iteration step :  200 rmse :  0.04370913068953017
### iteration step :  200 rmse :  0.04369072102767981
### iteration step :  200 rmse :  0.0434755498322714
### iteration step :  200 rmse :  0.04353130925373582
### iteration step :  200 rmse :  0.04359240037575289
### iteration step :  200 rmse :  0.04329647906053834
### iteration step :  200 rmse :  0.043320571921236284
### iteration step :  200 rmse :  0.04310448294502514
### iteration step :  200 rmse :  0.04313550286658551
### iteration step :  200 rmse :  0.04313786864806264
### iteration step :  200 rmse :  0.0432522679857931
### iteration step :  250 rmse :  0.029395183185609682
### iteration step :  250 rmse :  0.02954402948437154
### iteration step :  250 rmse :  0.029501874367581758
### iteration step :  250 rmse :  0.029329609713572482
### iteration step :  250 rmse :  0.029402118073276518
### iteration step :  250 rmse :  0.029467205684174953
### iteration step :  250 rmse :  0.029189294191791258
### iteration step :  250 rmse :  0.02919875742674749
### iteration step :  250 rmse :  0.02899574226000222
### iteration step :  250 rmse :  0.02904415445054537
### iteration step :  250 rmse :  0.029049587101179396
### iteration step :  250 rmse :  0.029248328780879088
### iteration step :  300 rmse :  0.022678715233749362
### iteration step :  300 rmse :  0.02284487386430042
### iteration step :  300 rmse :  0.02277356665032495
### iteration step :  300 rmse :  0.022632345073225067
### iteration step :  300 rmse :  0.02272006255153116
### iteration step :  300 rmse :  0.022778917442558288
### iteration step :  300 rmse :  0.02251624306238122
### iteration step :  300 rmse :  0.022515508246519718
### iteration step :  300 rmse :  0.02229491665298548
### iteration step :  300 rmse :  0.022367287171783077
### iteration step :  300 rmse :  0.022392303480653113
### iteration step :  300 rmse :  0.022621116143829344
### iteration step :  350 rmse :  0.01951697368018388
### iteration step :  350 rmse :  0.01968160529716054
### iteration step :  350 rmse :  0.019585635379668488
### iteration step :  350 rmse :  0.019467165455250002
### iteration step :  350 rmse :  0.019565686789792557
### iteration step :  350 rmse :  0.01961402007587052
### iteration step :  350 rmse :  0.019368393329296386
### iteration step :  350 rmse :  0.019361014872335068
### iteration step :  350 rmse :  0.019116038405167696
### iteration step :  350 rmse :  0.019209815479975256
### iteration step :  350 rmse :  0.019255623979392445
### iteration step :  350 rmse :  0.01949363619652533
### iteration step :  400 rmse :  0.018036665591954753
### iteration step :  400 rmse :  0.01819133106334426
### iteration step :  400 rmse :  0.018078504374883567
### iteration step :  400 rmse :  0.017975545929527065
### iteration step :  400 rmse :  0.01808050967685592
### iteration step :  400 rmse :  0.018118882879536717
### iteration step :  400 rmse :  0.01788968648248944
### iteration step :  400 rmse :  0.017878066671070482
### iteration step :  400 rmse :  0.017612244339685702
### iteration step :  400 rmse :  0.017720967349046508
### iteration step :  400 rmse :  0.017781796456597738
### iteration step :  400 rmse :  0.018022719092132503
### iteration step :  450 rmse :  0.01733404542954199
### iteration step :  450 rmse :  0.017476834937591494
### iteration step :  450 rmse :  0.017353619075108268
### iteration step :  450 rmse :  0.017260553985290618
### iteration step :  450 rmse :  0.017369093850106532
### iteration step :  450 rmse :  0.017399933857257754
### iteration step :  450 rmse :  0.017184317578637396
### iteration step :  450 rmse :  0.017169906496251195
### iteration step :  450 rmse :  0.016888615795792983
### iteration step :  450 rmse :  0.017006638154083157
### iteration step :  450 rmse :  0.01707679250866156
### iteration step :  450 rmse :  0.01731968595344277
### iteration step :  500 rmse :  0.016991609248053166
### iteration step :  500 rmse :  0.017123408915786537
### iteration step :  500 rmse :  0.016993984056410612
### iteration step :  500 rmse :  0.016907070492030413
### iteration step :  500 rmse :  0.01701760577221783
### iteration step :  500 rmse :  0.01704327755670069
### iteration step :  500 rmse :  0.016838031459003835
### iteration step :  500 rmse :  0.016821674312725535
### iteration step :  500 rmse :  0.016529281264429263
### iteration step :  500 rmse :  0.01665288879519848
### iteration step :  500 rmse :  0.016728541275491095
### iteration step :  500 rmse :  0.01697365788757103
### iteration step :  550 rmse :  0.016818969716266396
### iteration step :  550 rmse :  0.01694144559744473
### iteration step :  550 rmse :  0.016808259298884173
### iteration step :  550 rmse :  0.01672523433974769
### iteration step :  550 rmse :  0.01683693849143522
### iteration step :  550 rmse :  0.01685918705062123
### iteration step :  550 rmse :  0.016661644526141668
### iteration step :  550 rmse :  0.016643851020065152
### iteration step :  550 rmse :  0.016343446075494428
### iteration step :  550 rmse :  0.016470440821826485
### iteration step :  550 rmse :  0.016549323314269393
### iteration step :  550 rmse :  0.016796804595895533
### iteration step :  600 rmse :  0.016727439717439258
### iteration step :  600 rmse :  0.016842259158977375
### iteration step :  600 rmse :  0.016706687924467622
### iteration step :  600 rmse :  0.01662625564460956
### iteration step :  600 rmse :  0.01673869693926285
### iteration step :  600 rmse :  0.01675868241598573
### iteration step :  600 rmse :  0.01656685720005302
### iteration step :  600 rmse :  0.016547954461110796
### iteration step :  600 rmse :  0.016241668760760913
### iteration step :  600 rmse :  0.016370800056137846
### iteration step :  600 rmse :  0.016451627209257018
### iteration step :  600 rmse :  0.01670132290188455

### iteration step :  650 rmse :  0.01667429133480637
### iteration step :  650 rmse :  0.016782895588885197
### iteration step :  650 rmse :  0.01664569809164786
### iteration step :  650 rmse :  0.016567140799162352
### iteration step :  650 rmse :  0.016680091021598842
### iteration step :  650 rmse :  0.016698554271430948
### iteration step :  650 rmse :  0.01651101773242821
### iteration step :  650 rmse :  0.016491228766905515
### iteration step :  650 rmse :  0.016180544197961808
### iteration step :  650 rmse :  0.016311111507075263
### iteration step :  650 rmse :  0.016393167720500618
### iteration step :  650 rmse :  0.016644736912476654
### iteration step :  700 rmse :  0.01663836244260854
### iteration step :  700 rmse :  0.01674193674332364
### iteration step :  700 rmse :  0.01660352418900172
### iteration step :  700 rmse :  0.016526454393300572
### iteration step :  700 rmse :  0.01663979208337947
### iteration step :  700 rmse :  0.016657201345297353
### iteration step :  700 rmse :  0.016472928381641536
### iteration step :  700 rmse :  0.016452412570473637
### iteration step :  700 rmse :  0.01613837908644813
### iteration step :  700 rmse :  0.016269993747905075
### iteration step :  700 rmse :  0.01635288508504575
### iteration step :  700 rmse :  0.016605910068210192
### iteration step :  750 rmse :  0.016609060468955193
### iteration step :  750 rmse :  0.016708562969098263
### iteration step :  750 rmse :  0.016569153528341745
### iteration step :  750 rmse :  0.016493367054249926
### iteration step :  750 rmse :  0.01660702796687093
### iteration step :  750 rmse :  0.016623681027525348
### iteration step :  750 rmse :  0.016441927271724627
### iteration step :  750 rmse :  0.016420802465343682
### iteration step :  750 rmse :  0.01610417999085064
### iteration step :  750 rmse :  0.01623662855195292
### iteration step :  750 rmse :  0.016320141009291887
### iteration step :  750 rmse :  0.01657420047570466
### iteration step :  800 rmse :  0.01658116156111985
### iteration step :  800 rmse :  0.016677363428437005
### iteration step :  800 rmse :  0.016537069269613718
### iteration step :  800 rmse :  0.016462461377778816
### iteration step :  800 rmse :  0.01657641235048764
### iteration step :  800 rmse :  0.016592501800249577
### iteration step :  800 rmse :  0.016412717409428432
### iteration step :  800 rmse :  0.01639107285980159
### iteration step :  800 rmse :  0.016072423077368694
### iteration step :  800 rmse :  0.01620558984252193
### iteration step :  800 rmse :  0.01628960943009142
### iteration step :  800 rmse :  0.016544315829215932
### iteration step :  850 rmse :  0.01655222898431543
### iteration step :  850 rmse :  0.016645751215475683
### iteration step :  850 rmse :  0.016504627328190503
### iteration step :  850 rmse :  0.01643114580174886
### iteration step :  850 rmse :  0.016545370571042432
### iteration step :  850 rmse :  0.016561024020105113
### iteration step :  850 rmse :  0.016382795627019865
### iteration step :  850 rmse :  0.016360700076085907
### iteration step :  850 rmse :  0.016040446344395595
### iteration step :  850 rmse :  0.016174269580681414
### iteration step :  850 rmse :  0.016258737354641374
### iteration step :  850 rmse :  0.01651375177473506
### iteration step :  900 rmse :  0.016521280433778117
### iteration step :  900 rmse :  0.01661262420084154
### iteration step :  900 rmse :  0.016470695682261876
### iteration step :  900 rmse :  0.016398314989165347
### iteration step :  900 rmse :  0.016512806333073362
### iteration step :  900 rmse :  0.01652811087350164
### iteration step :  900 rmse :  0.0163511227548924
### iteration step :  900 rmse :  0.016328629783842093
### iteration step :  900 rmse :  0.016007096878603095
### iteration step :  900 rmse :  0.016141544071514104
### iteration step :  900 rmse :  0.01622643084399423
### iteration step :  900 rmse :  0.016481465738195183
### iteration step :  950 rmse :  0.01648808133574861
### iteration step :  950 rmse :  0.016577652134974953
### iteration step :  950 rmse :  0.016434929334981977
### iteration step :  950 rmse :  0.016363636620406324
### iteration step :  950 rmse :  0.016478391959548956
### iteration step :  950 rmse :  0.01649340903060686
### iteration step :  950 rmse :  0.016317416842511243
### iteration step :  950 rmse :  0.01629456857175343
### iteration step :  950 rmse :  0.015972009545965466
### iteration step :  950 rmse :  0.01610706345879591
### iteration step :  950 rmse :  0.0161923556092146
### iteration step :  950 rmse :  0.016447171683479173

In [5]:
# 분해된 P 와 Q를 P*Q.T로 예측 행렬 생성
pred_matrix = np.dot(P,Q.T)
print('예측 행렬:\n', np.round(pred_matrix,3))

예측 행렬:
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

## 콘텐츠 기반 필터링 실습 - TMDB 5000 영화 데이터 세트

In [6]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv('tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [7]:
movies_df = movies[['id', 'title', 'genres','vote_average','vote_count','popularity',
                   'keywords','overview']]

In [8]:
pd.set_option('max_colwidth',100)
movies_df[['genres','keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [9]:
from ast import literal_eval
# 문자열을 객체 list로 변환
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [10]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [ y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [ y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

In [11]:
# 장르 콘텐츠 유사도 측정
# CountVectozier로 피처벡터화한 행렬 데이터 값을 코사인 유사도로 비교
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환.
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [12]:
# 코사인 유사도 계산
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

In [ ]:
# 유사도 높은 순으로
genre_sim_sorted_ind = genre_sim.argsort()[:,::-1]
print(genre_sim_sorted_ind[:1])

In [14]:
# 장르 콘텐츠 필터링을 이용한 영화 추천
def find_sim_movies(df, sorted_ind, title_name, top_n=10):
    # 인자로 입력된 movies_df DataFrame에서 'title' 칼럼이 입력된 title_name 값인 DataFrame추출
    title_movie = df[df['title']== title_name]
    
    # title_named를 가진 DataFrame 의 index 객체를 ndarray로 반환하고
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n개의 index 추출
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    # 추출된 top_n index 출력. top_n index는 2차원 데이터임
    # dataframe에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [15]:
# 대부와 장르별로 유사한 영화 10개 추천
similar_movies = find_sim_movies(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [16]:
# 평점에 따라 필터링해서 최종 추천
movies_df[['title', 'vote_average','vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [17]:
# 가중 평점 = (v/(v+m)) * R + (m/(v+m)) * C
# v: 개별 영화에 평점을 투표환 횟수, m:평점을 부여하기 위한 최소 투표 횟수, R:개별 영화에 대한 평균 평점,C:전체 영화에 대한 평균 평점.
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:',round(C,3), 'm', round(m,3))

C: 6.092 m 370.2

In [18]:
# 가중평점(Weighted Rating) =  ( (v/(v+m)) * R) + ( (m/(m+v)) * C ) 
# v : 개별 / m : 평점을 부여하기 위한 최소 투표 수 / R : 개별 영화에 대한 평균 평점 / C : 전체 영화에 대한 평균 평점.
percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R) + ( (m/(m+v)) * C ) 
movies['weighted_vote'] = movies.apply(weighted_vote_average, axis=1)

In [19]:
movies[['title','vote_average', 'weighted_vote', 'vote_count']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [20]:
def find_sim_movies(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title']==title_name]
    title_index = title_movie.index.values
    
    # top_n의 2배에 해당하는 장르 유사성이 높은 인덱스 추출
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    # 기준 영화 인덱스는 제외
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_n의 2배에 해당하는 후보군에서 weighted_vote가 높은 순으로 top_n만큼 추출
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movies(movies, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average',  'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

## 아이템 기반 최근접 이웃 협업 필터링 실습

In [21]:
import pandas as pd
import numpy as np

movies = pd.read_csv('movies.csv')
ratings =pd.read_csv('ratings.csv')
print(movies.shape, ratings.shape)

(9742, 3) (100836, 4)

In [22]:
ratings =ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating',index='userId', columns='movieId')
ratings_matrix.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# title 칼럼을 얻기 위해 movies와 조인
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns = 'title'로 title 칼럼으로 피벗 수행
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

# NaN 값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# 영화 간 유사도 산출
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity()로 반환된 넘파이 행렬을 영화명을 매핑해 DataFrame으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index= ratings_matrix.columns,
                          columns=ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [26]:
item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [27]:
item_sim_df['Inception (2010)'].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

In [28]:
# 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [29]:
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

In [30]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE를 구함.
def get_mse(pred, actual):
    # 평점이 있는 실제 영화만 추출
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print('아이템 기반 모든 최근접 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE:  9.895354759094706

In [31]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자 - 아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)
    
    # 사용자 - 아이템 평점 행렬의 열 크기만큼 루프 수행.
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 인덱스 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
    
    return pred

In [32]:
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values))
# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index, columns = ratings_matrix.columns)

아이템 기반 최근접 TOP-20 이웃 MSE:  64.19933800790109

In [33]:
user_rating_id = ratings_matrix.loc[9,:]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Producers, The (1968)                                                             5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Back to the Future (1985)                                                         5.0
Austin Powers in Goldmember (2002)                                                5.0
Minority Report (2002)                                                            4.0
Witness (1985)                                                                    4.0
Name: 9, dtype: float64

In [34]:
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화 정보를 추출해 Series로 반환함.
    # 반환된 user_rating은 영화명(title)을 인덱스로 가지는 Series 객체임.
    user_rating = ratings_matrix.loc[userId,:]
    
    # user_rating이 0보다 크면 기존에 관함한 영화임. 대상 인덱스를 추출해 list 객체로 만듦.
    already_seen = user_rating[ user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듦.
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension 으로 already_seen에 해당하는 영화는 movies_list에서 제외함.
    unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [43]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id 인덱스와 unseen_list로 들어온 영화명 칼럼을 추출해
    # 가장 예측 평점이 높은 순으로 정렬함.
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

# 사용자가 관람하지 않는 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9 , unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성.
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                            pred_score
title
Three Fugitives (1989)                        0.000021
Blue Ruin (2013)                              0.000016
November (2004)                               0.000016
Fuck (2005)                                   0.000015
The Loft (2014)                               0.000014
Darwin's Nightmare (2004)                     0.000014
Molly's Game (2017)                           0.000014
The Natural Love (1996)                       0.000014
Collector, The (La collectionneuse) (1967)    0.000013
Death Sentence (2007)                         0.000013

## 행렬 분해를 이용한 잠재 요인 협업 필터링 실습

In [36]:
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
    num_users, num_items = R.shape
    # P와 Q 매트릭스의 크기를 지정하고 정규 분포를 가진 랜덤한 값으로 입력합니다.
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size=(num_users, K))
    Q = np.random.normal(scale=1./K, size=(num_items, K))
    
    prev_rmse = 10000
    break_count= 0
    
    # R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장.
    non_zeros = [ (i,j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트.
    for step in range(steps):
        for i, j, r in non_zeros:
            # 실제 값과 예측 값의 차이인 오류 값 포함
            eij = r - np.dot(P[i, :], Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i, :] = P[i,:] + learning_rate * Q[j,:] - r_lambda * P[i,:]
            Q[j, :] = Q[j,:] + learning_rate * P[i,:] - r_lambda * Q[j,:]
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if (step % 10) == 0 :
            print('### iteration step: ',step, 'rmse : ', rmse)
    return P, Q

In [47]:
import pandas as pd
import numpy as np

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

# title 칼럼을 얻기 위해 movie와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')
# columns = 'title'로 title 칼럼으로 pivot 수행.
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

In [48]:
P,Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate = 0.01, r_lambda=0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step:  0 rmse :  3.653414151978772
### iteration step:  10 rmse :  3.653457662259137
### iteration step:  20 rmse :  3.6534620975548555
### iteration step:  30 rmse :  3.6534637089705853
### iteration step:  40 rmse :  3.6534645687350853
### iteration step:  50 rmse :  3.653465109707913
### iteration step:  60 rmse :  3.6534654819004997
### iteration step:  70 rmse :  3.653465752483323
### iteration step:  80 rmse :  3.6534659566130285
### iteration step:  90 rmse :  3.6534661147108602
### iteration step:  100 rmse :  3.6534662395544775
### iteration step:  110 rmse :  3.653466339599621
### iteration step:  120 rmse :  3.6534664206928307
### iteration step:  130 rmse :  3.6534664870211704
### iteration step:  140 rmse :  3.6534665416700247
### iteration step:  150 rmse :  3.653466586966585
### iteration step:  160 rmse :  3.6534666247000165
### iteration step:  170 rmse :  3.65346665626762
### iteration step:  180 rmse :  3.653466682774857
### iteration step:  190 rmse :  3.6534667051057084

In [39]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000007,0.000002,0.000003,5.132201e-06,0.000003,0.000006,0.000002,-0.000005,0.000002,0.000002,...,0.000004,0.000002,0.000002,0.000003,0.000005,0.000002,0.000002,0.000002,0.000002,-0.000004
2,0.000009,-0.000004,0.000003,3.137589e-06,0.000003,0.000007,0.000002,-0.000007,0.000002,0.000002,...,0.000002,0.000002,0.000002,0.000003,0.000005,0.000002,0.000002,0.000002,0.000002,-0.000001
3,0.000003,0.000004,0.000004,4.126062e-07,0.000003,0.000015,0.000003,-0.000007,0.000003,0.000003,...,-0.000005,0.000003,0.000003,0.000004,0.000003,0.000003,0.000003,0.000003,0.000003,-0.000008

In [40]:
# 사용자가 관람하지 않은 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 잠재 요인 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n = 10)

# 평점 데이터를 DataFrame으로 생성.
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns = ['pred_score'])
recomm_movies

                                            pred_score
title
Three Fugitives (1989)                        0.000021
Blue Ruin (2013)                              0.000016
November (2004)                               0.000016
Fuck (2005)                                   0.000015
The Loft (2014)                               0.000014
Darwin's Nightmare (2004)                     0.000014
Molly's Game (2017)                           0.000014
The Natural Love (1996)                       0.000014
Collector, The (La collectionneuse) (1967)    0.000013
Death Sentence (2007)                         0.000013

In [49]:
# surprise를 이용한 추천 시스템 구축
from surprise import SVD
from surprise import Dataset 
from surprise import accuracy
from surprise.model_selection import train_test_split

data = Dataset.load_builtin('ml-100k')
# 수행 시마다 동일하게 데이터를 분할하기 위해 random_state 값 부여
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

In [50]:
algo = SVD()
algo.fit(trainset)

In [51]:
predictions = algo.test( testset )
print('prediction type : ', type(predictions), 'size:', len(predictions))
print('prediction 결과의 최초 5개 추출')
predictions[:5]

prediction type :  <class 'list'> size: 25000
prediction 결과의 최초 5개 추출

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.691991813467798, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=3.705707305506705, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.054191985450693, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.4039506443621894, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.2251276456948292, details={'was_impossible': False})]

In [52]:
[ (pred.uid, pred.iid, pred.est) for pred in predictions[:3]]

[('120', '282', 3.691991813467798),
 ('882', '291', 3.705707305506705),
 ('535', '507', 4.054191985450693)]

In [53]:
# 사용자 아이디, 아이템 아이디는 문자열로 입력해야 함.
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid)
print(pred)

user: 196        item: 302        r_ui = None   est = 4.14   {'was_impossible': False}

In [54]:
accuracy.rmse(predictions)

RMSE: 0.9492

0.9491839577460947

In [55]:
import pandas as pd

ratings=pd.read_csv('ratings.csv')
# ratings_noh.csv 파일로 업로드 시 인덱스와 헤더를 모두 제거한 새로운 파일 생성.
ratings.to_csv('ratings_noh.csv', index=False, header=False)

In [56]:
from surprise import Reader

reader = Reader(line_format = 'user item rating timestamp', sep=',', rating_scale=(0.5,5))
data =Dataset.load_from_file('ratings_noh.csv', reader=reader)

In [57]:
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

# 수행 시마다 동일한 결과를 도출하기 위헤 random_state 설정
algo = SVD(n_factors=50, random_state=0)

# 학습 데이터 세트로 학습하고 나서 테스트 데이터 세트로 평점 예측 후 RMSE 평가
algo.fit(trainset)
predictions = algo.test( testset )
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [58]:
import pandas as pd
from surprise import Reader, Dataset

ratings = pd.read_csv('ratings.csv')
reader = Reader(rating_scale=(0.5,5.0))

# ratings DataFrame에서 칼럼은 사용자 아이디, 아이템 아이디, 평점 순서를 지켜야 합니다.
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

algo = SVD(n_factors=50, random_state=0)
algo.fit(trainset)
predictions = algo.test( testset )
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [59]:
# 교차 검증과 하이퍼 파라미터 튜닝
from surprise.model_selection import cross_validate

# 판다스 DataFrame에서 Surprise 데이터 세트로 데이터 로딩
ratings = pd.read_csv('ratings.csv') # reading data in pandas df
reader = Reader(rating_scale = (0.5, 5.0))
data = Dataset.load_from_df(ratings[['userId', 'movieId','rating']], reader)

algo = SVD(random_state=0)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8724  0.8729  0.8735  0.8726  0.8834  0.8750  0.0042
MAE (testset)     0.6709  0.6706  0.6680  0.6725  0.6800  0.6724  0.0041
Fit time          1.30    1.32    1.51    1.29    1.32    1.35    0.08
Test time         0.35    0.15    0.19    0.32    0.17    0.24    0.08

{'test_rmse': array([0.8724035 , 0.87288946, 0.87345643, 0.87262857, 0.88337819]),
 'test_mae': array([0.67085041, 0.67056714, 0.66798929, 0.67254846, 0.6800387 ]),
 'fit_time': (1.2971324920654297,
  1.320479154586792,
  1.514683485031128,
  1.289292812347412,
  1.315295696258545),
 'test_time': (0.34778618812561035,
  0.14989876747131348,
  0.1930861473083496,
  0.32213783264160156,
  0.1693720817565918)}

In [60]:
from surprise.model_selection import GridSearchCV

# 최적화할 파라미터를 딕셔너리 형태로 지정.
param_grid = {'n_epochs': [20, 40, 60], 'n_factors':[50, 100, 200]}
# CV를 3개 폴드 세트로 지정, 성능 평가는 rmse, mse로 수행하도록 GridSearchCV 구성
gs = GridSearchCV(SVD, param_grid, measures=['rmse','mae'], cv=3)
gs.fit(data)

# 최고 RMSE Evaluation 점수와 그때의 하이퍼 파라미터
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.8783763629335608
{'n_epochs': 20, 'n_factors': 50}

In [61]:
# 원래 안되는 코드임

# Surprise를 이용한 개인화 영화 추천 시스템 구축
# 다음 코드는 train_test_split()으로 분리되지 않는 데이터 세트에 fit()을 호출해 오류가 발생합니다.
#data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
#algo = SVD(n_factors=50, random_state=0)
#algo.fit(data)

AttributeError: 'DatasetAutoFolds' object has no attribute 'n_users'

In [62]:
# Surprise를 이용한 개인화 영화 추천 시스템 구축
from surprise.dataset import DatasetAutoFolds

reader = Reader(line_format ='user item rating timestamp', sep=', ', rating_scale=(0.5,5))
# DatasetAutoFolds 클래스를 ratings_noh.csv 파일 기반으로 생성.
data_folds = DatasetAutoFolds(ratings_file ='ratings_noh.csv', reader=reader)

# 전체 데이터를 학습 데이터로 생성함.
trainset = data_folds.build_full_trainset()

In [63]:
algo = SVD(n_epochs = 20, n_factors=50, random_state=0)
algo.fit(trainset)

In [64]:
# 영화에 대한 상세 속성 정보 DataFrame 로딩
movies = pd.read_csv('movies.csv')

# userId=9의 movieId 데이터를 추출해 movieId=42 데이터가 있는지 확인.
movieIds = ratings[ratings['userId']==9]['movieId']
if movieIds[movieIds==42].count() == 0 :
    print('사용자 아이디 9는 영화 아이디 42의 평점 없음')
print(movies[movies['movieId']==42])

사용자 아이디 9는 영화 아이디 42의 평점 없음
    movieId                   title              genres
38       42  Dead Presidents (1995)  Action|Crime|Drama

In [65]:
uid = str(9)
iid = str(42)

pred = algo.predict(uid, iid, verbose=True)

user: 9          item: 42         r_ui = None   est = 3.13   {'was_impossible': False}

In [66]:
def get_unseen_surprise(ratings, movies, userId):
    # 입력값으로 들어온 userId에 해당하는 사용자가 평점을 매긴 모든 영화를 리스트로 생성
    seen_movies = ratings[ratings['userId']==userId]['movieId'].tolist()
    
    # 모든 영화의 movieId를 리스트로 생성.
    total_movies = movies['movieId'].tolist()
    
    # 모든 영화의 movieId 중 이미 평점을 매긴 영화의 movieId를 제외한 후 리스트로 생성
    unseen_movies = [movie for movie in total_movies if movie not in seen_movies]
    print('평점 매긴 영화 수: ',len(seen_movies), '추천 대상 영화 수: ', len(unseen_movies),
         '전체 영화 수: ', len(total_movies))
    
    return unseen_movies
unseen_movies = get_unseen_surprise(ratings, movies, 9)

평점 매긴 영화 수:  46 추천 대상 영화 수:  9696 전체 영화 수:  9742

In [68]:
def recomm_movie_by_surprise(algo, userId, unseen_movies, top_n=10):
    
    # 알고리즘 객체의 predict() 매서드를 평점이 없는 영화에 반복 수행한 후 결과를 list 객체로 저장
    predictions = [algo.predict(str(userId), str(movieId)) for movieId in unseen_movies]
    
    # predictions list 객체는 surprise의 Predictions 객체를 원소로 가지고 있음.
    # [Predictions(uid='9', iid='1',est=3.69), Prediction(uid='9', iid='2', est=2.98),,,,]
    
    # 이를 est 값으로 정렬하기 위해서 아래의 sortkey_est 함수를 정의함.
    # sortkey_est 함수는 list 객체의 sort() 함수의 키 값으로 사용되어 정렬 수행.
    def sortkey_est(pred):
        return pred.est
    # sortkey_est() 반환값의 내림 차순으로 정렬 수행하고 top_n 개의 최상위 값 추출
    predictions.sort(key=sortkey_est, reverse=True)
    top_predictions= predictions[:top_n]
    
    # top_n으로 추출된 영화의 정보 추출, 영화 아이디, 추천 예상 평점, 제목 추출
    top_movie_ids = [int(pred.iid) for pred in top_predictions]
    top_movie_rating = [pred.est for pred in top_predictions]
    top_movie_titles = movies[movies.movieId.isin(top_movie_ids)]['title']
    
    top_movie_preds = [ (id, title, rating) for id, title, rating in \
                       zip(top_movie_ids, top_movie_titles, top_movie_rating)]
    return top_movie_preds

unseen_movies = get_unseen_surprise(ratings, movies, 9)
top_movie_preds = recomm_movie_by_surprise(algo, 9, unseen_movies, top_n=10)

print('### Top-10 추천 영화 리스트 ####')
for top_movie in top_movie_preds:
    print(top_movie[1], ":", top_movie[2])

평점 매긴 영화 수:  46 추천 대상 영화 수:  9696 전체 영화 수:  9742
### Top-10 추천 영화 리스트 ####
Usual Suspects, The (1995) : 4.306302135700814
Star Wars: Episode IV - A New Hope (1977) : 4.281663842987387
Pulp Fiction (1994) : 4.278152632122759
Silence of the Lambs, The (1991) : 4.226073566460876
Godfather, The (1972) : 4.1918097904381995
Streetcar Named Desire, A (1951) : 4.154746591122658
Star Wars: Episode V - The Empire Strikes Back (1980) : 4.122016128534504
Star Wars: Episode VI - Return of the Jedi (1983) : 4.108009609093436
Goodfellas (1990) : 4.083464936588478
Glory (1989) : 4.07887165526957